@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background: #10122A;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

a, button, input {
  text-decoration: none;
  outline: none;
}